.detail.open {
    transform: translateZ(0);
    padding: 0px;
}
.detail {
    width: 500px;
    height: 100%;
    padding-top: 100px;
    background-color:rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translate(500px);
    transition: all .5s;
    overflow: scroll;
    padding: 0;
}
h1.open {
    transform: translateZ(0);
}
p.open {
    transform: translateZ(0);
}

.batsu {
    display: inline-block;
    font-size: 56px;
    width: 56px;
}
#time {
    position: relative;
    line-height: 1.4;
}
#time::before {
    content:"";
	display:inline-block;
	width:2em;
	height:2em;
	background:url(/image/walking.png) no-repeat;
    background-size:contain;
    padding-right: 1em;
}
/* #time::before {
    content: url(/image/walking.png);
    position: relative;
    top: 8px;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
} */
#tel {
    position: relative;
    line-height: 1.4;
    padding-left: 4.5px;
}
#tel::before {
    content:"";
	display:inline-block;
	width:1.5em;
	height:1.5em;
	background:url(/image/tel.png) no-repeat;
    background-size:contain;
    padding-right: 1em;
}
/* #tel::before {
    display: block;
    content: '';
    position: absolute;
    top: .5em;
    left: 0em;
    width: 8px;
    height: 3px;
    border-left: 2px solid #202f55;
    border-bottom: 2px solid #202f55;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
} */
