    .hidden_box {
        margin: 2em 0;/*前後の余白*/
        padding: 0;
    }

    .hidden_box label {
        padding: 15px;
        font-weight: bold;
        border: solid 2px white;
        cursor :pointer;
        color: white;
        background: red;
    }

    #hidden_options {
        padding-top: 20px;
    }

    .hidden_box label:hover {
        background: red;
    }

    #description {
        display: none;
    }

    #pay {
        display: none;
    }

    #settings {
        display: none;
    }

    #pay1 {
        display: none;
    }

    #rakuten-selected {
        margin-top: 0px;
        z-index: 10;
        margin-top: 40px;
    }

    #paypay-selected {
        margin-top: 0px;
        z-index: 10;
    }

    #apple-selected {
        margin-top: 0px;
        z-index: 10;
    }
    .btn-square {
 		display: inline-block;
  		padding: 0.2em 1em;
  		text-decoration: none;
  		background: red;
  		color: white;
  		border-bottom: solid 2px #627295;
  		border-radius: 1px;
	}
	.btn-square:active {
  		-webkit-transform: translateY(4px);
  		transform: translateY(4px);
  		border-bottom: none;
	}
	.textbox{
 	 width: 160px;
	 padding: 2px 8px;
  	 border-radius: 6px;
  	 border-top: 1px solid #aaa;
  	 border-left: 1px solid #aaa;
  	 border-right: 2px solid #aaa;
  	 border-bottom: 2px solid #aaa;
  	 background-image: none
  	 background-color: #ddd;
  	 font-size: 16px;
  	 }

    .hidden_box .hidden_show {
        height: 0;
        padding: 2px;
        overflow: hidden;
        opacity: 0;
        transition: 0.8s;
    }

    .hidden_box input:checked ~ .hidden_show {
        height: auto;
        opacity: 1;
        padding-left: 12px;
    }

    .wrapper {
        height: 100%;
        overflow-x: hidden;
        position: relative;
    }
    .overlay {
        content: "";
        display: block;
        width: 0;
        height: 0;
        background-color: rgba(225, 225, 225, 0);;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
        transition: opacity .5s;
    }
    .overlay.open {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    #wrapper {
        width: 500px;
        display:flex;
    }

    .menu-trigger {
        display: inline-block;
        width: 36px;
        height: 28px;
        vertical-align: middle;
        cursor: pointer;
        position: fixed;
        top: 30px;
        left: 30px;
        z-index: 100;
        transform: translateX(0);
        transition: transform .5s;
        
    }
    .menu-trigger.active {
        transform: translateX(250px);
    }
    .menu-trigger span {
        display: inline-block;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #000;
        transition: all .5s;
    }
    .menu-trigger.active span {
        background-color:brack;
    }
    .menu-trigger span:nth-of-type(1) {
        top: 0;
    }
    .menu-trigger.active span:nth-of-type(1) {
        transform: translateY(12px) rotate(-45deg);
    }
    .menu-trigger span:nth-of-type(2) {
        top: 12px;
    }
    .menu-trigger.active span:nth-of-type(2) {
        opacity: 0;
    }
    .menu-trigger span:nth-of-type(3) {
        bottom: 0;
    }
    .menu-trigger.active span:nth-of-type(3) {
        transform: translateY(-12px) rotate(45deg);
    }

    .img_logo {
        width: 87%;
        padding-top: 20px;
        padding-left: 13px;
    }

    nav {
        width: 250px;
        height: 100%;
        padding-top: 100px;
        background-color:rgba(255, 255, 255, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        transform: translate(-250px);
        transition: all .5s;
        overflow: scroll;
        padding: 0;
    }
    nav.open {
        transform: translateZ(0);
    }
    nav li {
        color: #fff;
        text-align: center;
        padding: 10px 0;
    }
    .detail.open {
        padding-top: 2%;
    }
    .details {
        padding-left: 2%;
    }
    body {
        margin: 0px;
    }