<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title id="msg_welcome"></title>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyD3as-pI0qLXEte93YpO0MQ7cISB0jrf6Q&language=ja"></script>
        <link rel="stylesheet" href="css/google-map.css" type="text/css">
        <link rel="stylesheet" href="css/drawer.css" type="text/css">
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <link href="css/HoldOn.css" rel="stylesheet">
        <script src="js/HoldOn.js"></script>
        <script type="text/javascript" language="JavaScript" src="js/jquery.i18n.properties-min.js"></script>
    </head>
    <body>
        <div id="map"></div>
        <script src="js/google-map.js"></script>
        <script src="js/navi_click_functions.js"></script>
        <div class="menu-trigger" >
            <span></span>
            <span></span>
            <span></span>
            <div id="selected">
                <image src="" id="rakuten-selected" width="40">
                <image src="" id="paypay-selected" width="40" >
                <image src="" id="apple-selected" width="40">
            </div>  
        </div> 
            <nav>
                <!-- Logo -->
                <div class="logo">
                    <img src="image/logo.png" class="img_logo"/>
                </div>
                <!-- /Logo -->
                <form method="POST">
                <div class="hidden_box">
                <label for="pay" id="msg_menu_pay"></label>
                <input type="checkbox" id="pay"/>
                <div class="hidden_show" style="padding-top: 10%;">
                    <div id="rakutenicon" value="1">
                        <img src="image/selectrakuten.png" width="40%">
                    </div>
                    <div id="paypayicon" value="0">
                        <img src="image/selectpaypay.png" width="40%" >
                    </div>
                    <div id="appleicon" value="0">
                        <img src="image/selectapple.png" width="40%">
                    </div>
                </div>
                <div class="hidden_box">
                <label for="settings" id="msg_menu_settings"></label>
                <input type="checkbox" id="settings"/>
                <div class="hidden_show" style="padding-top: 10%;">
                    <input type="radio" class="lang_en" name="lang" value="en">English
                    <br>
                    <input type="radio" class="lang_cn" name="lang" value="zh-CN">中文
                    <br>
                    <input type="radio" class="lang_mo" name="lang" value="mn">Монгол хэл
                    <br>
                    <input type="radio" class="lang_kr" name="lang" value="ko">한글
                    <br>
                    <input type="radio" class="lang_ja" name="lang" value="ja">日本語
                    <br>
                </div>
                <div class="hidden_box">
                <label for="description" id="msg_menu_detail"></label>
                <input type="checkbox" id="description"/>
                <div class="hidden_show">
                    <div id="hidden_options">
                        <div id="wrapper">
                            <input type="checkbox" name="lunch" value="0" class="lunch_slct"><div id="msg_option_lunch"></div>
                        </div>
                        <br>
                        <div id="wrapper">
                            <input type="checkbox" name="card" value="0" class="card_slct"/><div id="msg_option_card"></div>
                        </div>
                        <br>
                        <div id="wrapper">
                            <input type="checkbox" name="no-smoking" value="0" class="nosmoking_slct"><div id="msg_option_nosmoking"></div>
                        </div>
                        <br>
                    </div>
                </div>
                </div>
            </form>
        </nav>
        <div class="overlay"></div>
        <script src="js/navi_slide_functions.js"></script>
    </body>
</html>