<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>現金が持ちたくないあなたのために「CashlessMap」</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <style>
        .hidden_box {
        margin: 2em 0;/*前後の余白*/
        padding: 0;
        }
    
        .hidden_box label {
            padding: 15px;
            font-weight: bold;
            border: solid 2px black;
            cursor :pointer;
        }
    
        .hidden_box label:hover {
            background: #efefef;
        }
    
        #description {
            display: none;
        }
    
        #pay {
            display: none;
        }
    
        #settings {
            display: none;
        }
    
        #pay1 {
            display: none;
        }
    
        .hidden_box .hidden_show {
            height: 0;
            padding: 0;
            overflow: hidden;
            opacity: 0;
            transition: 0.8s;
        }
    
        .hidden_box input:checked ~ .hidden_show {
            padding: 10px 0;
            height: auto;
            opacity: 1;
        }
        </style>
    
    </head>
    <body>
        <h1 th:text="${message}"></h1>
        現金が持ちたくないあなたのために「CashlessMap」
        <div>
            <form method="POST">
                <div class="hidden_box">
                    <label for="pay">Pay</label>
                    <input type="checkbox" id="pay"/>
                    <div class="hidden_show">
                    　<!--非表示ここから-->     
                    <p>
                    <input type="checkbox" class="rakutenpay" name="pay" value="0">
                        <p><img src="rakutenpay.png" width="20"></p>
                    <input type="checkbox" class="paypay" name="pay" value="0">
                        <p><img src="paypay.png" width="20"></p>
                    <input type="checkbox" class="applepay" name="pay" value="0">
                        <p><img src="applepay.png" width="20"></p>
                    </p>
                    　<!--ここまで-->
                    </div>
                    <div class="hidden_box">
                    <label for="settings">Settings</label>
                    <input type="checkbox" id="settings"/>
                    <div class="hidden_show">
                    　<!--非表示ここから-->     
                    <p>
                    <input type="radio" class="lang_ja" name="lang" value="ja">日本語
                    <br>
                    <input type="radio" class="lang_en" name="lang" value="en">English
                    <br>
                    <input type="radio" class="lang_cn" name="lang" value="cn">中国語
                    <br>
                    </p>
                    　<!--ここまで-->
                    </div>
                
                    <div class="hidden_box">
                    <label for="description">Description</label>
                    <input type="checkbox" id="description"/>
                    <div class="hidden_show" id="hidden_description">
                    　<!--非表示ここから-->     
                    <p>
                    <input type="checkbox" name="lunch" value="0" class="lunch_slct">ランチ利用可
                    <br>
                    <input type="checkbox" name="card" value="0" class="card_slct">カード利用可
                    <br>
                    <input type="checkbox" name="no-smoking" value="0" class="nosmoking_slct">禁煙
                    <br>
                    </p>
                    　<!--ここまで-->
                    </div>
                </div>
            </form>
        </div>
        <script type="text/javascript">
            var language;

            $(function(){
                // Set language for creating dynamic url
                $('input[name="lang"]').change(function() {
                    language = $(this).val();
                    console.log(createJson(collectValuesAsList(language)));
                })
                                
                // Set options for creating dynamic url
                $(".rakutenpay").click(function(){
                    if(this.checked){
                        $(".rakutenpay").val("1");
                        console.log(createJson(collectValuesAsList(language)));

                    } else {
                        $(".rakutenpay").val("0");
                        console.log(createJson(collectValuesAsList(language)));

                    };
                });

                $(".paypay").click(function(){
                    if(this.checked){
                        $(".paypay").val("1");
                        console.log(createJson(collectValuesAsList(language)));

                    } else {
                        $(".paypay").val("0");
                        console.log(createJson(collectValuesAsList(language)));

                    };
                });

                $(".applepay").click(function(){
                    if(this.checked){
                        $(".applepay").val("1");
                        console.log(createJson(collectValuesAsList(language)));

                    } else {
                        $(".applepay").val("0");
                        console.log(createJson(collectValuesAsList(language)));

                    };
                });

                // Set options for creating dynamic url
                $(".lunch_slct").click(function(){
                    if(this.checked){
                        $(".lunch_slct").val("1");
                        console.log(createJson(collectValuesAsList(language)));

                    } else {
                        $(".lunch_slct").val("0");
                        console.log(createJson(collectValuesAsList(language)));

                    };
                });

                $(".card_slct").click(function(){
                    if(this.checked){
                        $(".card_slct").val("1");
                        console.log(createJson(collectValuesAsList(language)));

                    } else {
                        $(".card_slct").val("0");
                        console.log(createJson(collectValuesAsList(language)));

                    };
                });

                $(".nosmoking_slct").click(function(){
                    if(this.checked){
                        $(".nosmoking_slct").val("1");
                        requestToApi();

                    } else {
                        $(".nosmoking_slct").val("0");
                        requestToApi();
                    };
                });
            });

            $(function createJson(params) {
                var obj = new Object();
                obj.lang = params[0];
                obj.pay = params[1];
                obj.lunch = params[2];
                obj.nosmoking = params[3];
                obj.card = params[4];
                obj.latitude = params[5];
                obj.longitude = params[6];
                return obj;
            })

            function collectValuesAsList(lang) {
                var array  = new Array();

                // Language
                array.push(lang);
                
                // Pay
                var array_pay  = new Array();
                if ($('.rakutenpay').val() == 0 &&
                 $('.paypay').val() == 0 &&
                 $('.applepay').val() == 0) {
                    array_pay.push("rakutenpay"); // Set rakuten pay as default

                } else {
                    if ($('.rakutenpay').val() == 1) array_pay.push("rakutenpay");
                    if ($('.paypay').val() == 1) array_pay.push("paypay");
                    if ($('.applepay').val() == 1) array_pay.push("applepay");
                }

                array.push(array_pay);

                // Options
                array.push($('.lunch_slct').val());
                array.push($('.card_slct').val());
                array.push($('.nosmoking_slct').val());

                // TODO : latitude
                array.push("44.968046");
                array.push("-94.420307");
                return array;
            }

            function createJson(params) {
                var obj = new Object();
                obj.lang = params[0];
                obj.pay = params[1];
                obj.lunch = params[2];
                obj.nosmoking = params[3];
                obj.card = params[4];
                obj.latitude = params[5];
                obj.longitude = params[6];

                var jsontext = JSON.stringify(obj);
                return jsontext;
            }

            // function requestToApi(params) {
            //     $.ajax({
            //             url:'/navi',
            //             type:'get',
            //             data : JSON.stringify(createJson(collectValuesAsList(language))),
            //             contentType: 'application/JSON',
            //             dataType : 'JSON',
            //             scriptCharset: 'utf-8'
            //         })
            //         .done( (data) => {
            //             console.log(data);
            //         })
            //         .fail( (data) => {
            //             console.log(data);
            //         })            
            // }
        </script>
    </body>
</html>